- 리스트 : 파이썬 언어에서 가장 융통성 있는 자료형 중 하나
- 서로 다른 형의 항목들을 포함 가능, 가변(mutable)의 특성을 갖기에 수정도 용이
- 파이썬의 리스트는 배열과 차이점이 있음

- 시퀀스 자료형은 모두 인덱싱과 슬라이싱이 가능

In [66]:
cubes = [1, 8, 27, 65, 125]
cubes[3] = 4 ** 3
print(cubes)

[1, 8, 27, 64, 125]

In [67]:
letters = ['a', 'b', 'c', 'd', 'e']
letters[2:5] = ['B', 'C', 'D']
print(letters)

['a', 'b', 'B', 'C', 'D']

In [68]:
# 리스트에 특정 요소가 있는지 궁금할 때
numbers = [1, 2, 3, 4, 5, 6, 7]
print(5 in numbers)
print(10 in numbers)

True
False

In [69]:
2 ** 7

128

In [1]:
scores = [88, 73, 89, 59, 77]
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

### append로 리스트 맨 뒤에 요소를 추가할 수 있다.

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers.append(8) # 리스트 맨 뒤에 추가
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

### insert는 요소를 원하는 위치에 넣을 수 있다.
insert(인덱스, 요소)

In [3]:
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers), 0) # insert는 요소를 원하는 위치에 넣을 수 있다.
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

### extend는 리스트에 리스트를 뒤로 붙여 추가시킨다.
리스트1.extend(리스트2)

In [4]:
numbers.extend([9, 10, 11])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

### remove는 입력값과 첫 번째로 일치하는 요소를 리스트에서 삭제한다.
remove(요소)

In [5]:
print(numbers)
numbers.remove(0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]
[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [6]:
del numbers[0] # del은 인덱스 위치의 요소를 삭제한다.
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

### pop은 리스트 맨 뒤의 요소를 꺼내서 반환시켜주고 제거한다.

In [7]:
print(numbers)
print(numbers.pop())
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]
11
[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]

### index(인자)는 리스트에 인자와 같은 요소를 앞에서 부터 찾는다. 제일 처음 발견된 요소의 인덱스 위치를 반환한다.

In [8]:
print(numbers.index(4))

3

### count(인자)는 리스트 안에 인자와 같은 요소가 몇 개 있는지 반환해준다.

In [9]:
print(numbers.count(0))

3

### 리스트 요소 정렬하기
리스트.sort() : 리스트 요소를 오름차순으로 정렬한다.  
리스트.reverse() : 리스트 요소를 거꾸로 정렬한다.  
두 명령어 모두 반환값은 None.

### 리스트를 stack처럼 활용하기
Stack은 후입선출(Last in First out)

함수를 호출할 때도 Stack 구조로 이루어진다.

### 리스트 내장 함수

|리스트 메서드(인수)|반환 값|설명|
|--|----|------|
append(요소)|None|리스트에서 요소 하나를 맨 마지막에 추가
insert(인덱스, 요소)|None|리스트에서 특정 위치에 요소를 삽입
extend(리스트)|None|리스트에서 요소 여러 개를 맨 마지막에 추가
remove(요소)|None|입력값과 첫 번째로 일치하는 요소를 리스트에서 삭제
pop()|마지막 요소|리스트의 마지막 요소를 제거한 후에 반환
index(요소)|첫번째로 일치한 요소 인덱스|리스트에서 인자와 일치하는 첫 번째 요소의 위치를 반환
count(요소)|일치하는 요소의 총 개수|리스트에서 인자와 일치하는 요소의 개수를 반환
sort()|None|숫자나 문자열로 구성된 리스트 요소를 순방향으로 정렬
reverse()|None|리스트 요소를 끝에서부터 역순으로 정렬
clear()|None|리스트의 모든 요소를 제거

### 튜플

In [10]:
tuple_variable = (1, 2, 3, 4, 5, "Hello")
print(tuple_variable[0])

1

In [11]:
# tuple_variable[0] = 0

In [12]:
# tuple_variable[0:3] = ("Dd", "ww", "RR")

In [13]:
# del tuple_variable[0]

#### 튜플 자료형은 소괄호 생략이 가능하다. 하지만 명시해서 명확하게 표현하는 것이 더 좋다.

In [14]:
t_v = "음", "오", "아", "예"

In [15]:
print(type(t_v))

<class 'tuple'>

### 튜플과 리스트의 소요시간 비교

In [16]:
# import time

# curr = time.time()
# total = []

# for i in range(10000):
#     for j in range(10000):
#         total.append((i, j))
# last = time.time()
# print(last - curr)

17.64247441291809

In [ ]:
# import time

# curr = time.time()
# total = []

# for i in range(10000):
#     for j in range(10000):
#         total.append([i, j])
# last = time.time()
# print(last - curr)

### Unpacking(변수 여럿에 동시 할당하기)

In [ ]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

#### 튜플 이외의 시퀀스 자료형도 unpacking이 가능하다.

In [ ]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

In [ ]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)

### 파이썬 입력은 input() 내장 함수로 가능하다.

In [ ]:
input_value = input("Message")

In [ ]:
print("input_value:", input_value, "\ntype:", type(input_value))

### append로 리스트 맨 뒤에 요소를 추가할 수 있다.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers.append(8) # 리스트 맨 뒤에 추가
print(numbers)

### insert는 요소를 원하는 위치에 넣을 수 있다.
insert(인덱스, 요소)

In [ ]:
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers), 0) # insert는 요소를 원하는 위치에 넣을 수 있다.
print(numbers)

### extend는 리스트에 리스트를 뒤로 붙여 추가시킨다.
리스트1.extend(리스트2)

In [ ]:
numbers.extend([9, 10, 11])
print(numbers)

### remove는 입력값과 일치하는 첫번째 요소를 
remove(인덱스 번호)

In [ ]:
print(numbers)
numbers.remove(0)
print(numbers)

In [ ]:
del numbers[0]
print(numbers)

### pop은 리스트 맨 뒤의 요소를 꺼내서 반환시켜주고 제거한다.

In [ ]:
print(numbers)
print(numbers.pop())
print(numbers)

### index(인자)는 리스트에 인자와 같은 요소를 앞에서 부터 찾는다. 제일 처음 발견된 요소의 인덱스 위치를 반환한다.

In [ ]:
print(numbers.index(4))

### count(인자)는 리스트 안에 인자와 같은 요소가 몇 개 있는지 반환해준다.

In [ ]:
print(numbers.count(0))

### 리스트 요소 정렬하기
리스트.sort() : 리스트 요소를 오름차순으로 정렬한다.  
리스트.reverse() : 리스트 요소를 거꾸로 정렬한다.  
두 명령어 모두 반환값은 None.

### 리스트를 stack처럼 활용하기
Stack은 후입선출(Last in First out)

함수를 호출할 때도 Stack 구조로 이루어진다. ((정리하기))

### 튜플

In [5]:
tuple_variable = (1, 2, 3, 4, 5, "Hello")
print(tuple_variable[0])

1

### 튜플이 immutable 한 것을 확인할 수 있다.

In [6]:
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [7]:
tuple_variable[0:3] = ("Dd", "ww", "RR")

TypeError: 'tuple' object does not support item assignment

In [8]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

#### 튜플 자료형은 소괄호 생략이 가능하다. 하지만 명시해서 명확하게 표현하는 것이 더 좋다.

In [3]:
t_v = "음", "오", "아", "예"

In [4]:
print(type(t_v))

<class 'tuple'>

### 튜플과 리스트의 소요시간 비교

In [ ]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append((i, j))
last = time.time()
print(last - curr)

In [ ]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append([i, j])
last = time.time()
print(last - curr)

### Unpacking(변수 여럿에 동시 할당하기)

In [2]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

#### 튜플 이외의 시퀀스 자료형도 unpacking이 가능하다.

In [ ]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3, s4, s5)

In [ ]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)

### 파이썬 입력은 input() 내장 함수로 가능하다.

In [ ]:
input_value = input("Message")

In [ ]:
print("input_value:", input_value, "\ntype:", type(input_value))

In [ ]:
input_value2 = input("Message")

In [ ]:
input_value2 = int(input_value2) # input 입력값은 항상 str, 문자열

In [ ]:
input_value2 = float(input_value2)
print(input_value2)

In [ ]:
input_value2 = int(input_value2

#### 연습문제
사용자의 이름을 물어보고 이어서 2개의 정수를 받아서 덧셈을 한 후 결과를 출력하는 
프로그램을 작성해보세요.

In [ ]:
input10 = input("이름을 입력하시오:")
print(input10, "씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
input11 = int(input("첫 번째 정수를 입력하세요:"))
input12 = int(input("두 번째 정수를 입력하세요:"))
print(input11, "과", input12, "의 합은", input11 + input12, "입니다.") # 이 라인에서 int로 변환해도 같은 결과가 나온다.

#### 연습문제
사용자에게 경기장, 점수, 이긴 팀, 진 팀, 우수 선수를 질문하고 변수에 저장합니다. 이들 
문자열에 문장을 붙여서 기사를 작성해봅시다.

In [ ]:
input13 = input("경기장은 어디입니까?")
input14 = input("이긴 팀은 어디입니까?")
input15 = input("진 팀은 어디입니까?")
input16 = input("우수 선수는 누구입니까?")
input17 = input("스코어는 몇대몇입니까?")

print(input14, "가", input17, "로 승리...", "\n오늘", input13, "경기장에서 야구 경기가 있었습니다.\n", input14, "와", input15, "는 치열한 공방전을 펼쳤습니다.\n이 경기에서", input16, "가 맹활약을 했습니다.", "\n그 끝내", input14, "가", input15, "를", input17, "로 승리하였습니다.\n기사 끝.")

### 입력 값을 여러 개의 변수에 저장하기

In [ ]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

#### 연습문제
사용자로부터 “hh:mm:ss” 형태의 시간 값을 입력 받습니다. 예를 들면 12시 33분 23초일 
때 “12:33:23” 과 같이 입력을 받습니다. 이 때 결과가 아래와 같게 나오도록 
구현해보세요.

In [ ]:
input_time = input("hh:mm:ss 의 형태로 시간을 입력해주세요")
input_time_result = input_time.split(':')
print("시 :", input_time_result[0], "\n분 :", input_time_result[1], "\n분 :", input_time_result[2])

### map()함수로 여러 번의 변환을 한번에 가능하다

In [ ]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

### 연습 문제
공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로 
제공됩니다. 이때 한 과목이라도 60점 미만이면 과락입니다. 과락이면 False를 과락이 
아니면 True를 출력하도록 코드를 완성해보세요.

In [20]:
grade = input("국어, 영어, 수학, 과학 점수를 입력해주세요")
grade_result = grade.split(',')
grade_result = list(map(int, grade_result))
kor = grade_result[0]
eng = grade_result[1]
mat = grade_result[2]
sci = grade_result[3]

mean = (kor + eng + mat + sci)/4
print("평균 점수는", mean, "점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

### 파이썬 출력
- 여러 값을 동시에 출력할 수 있다. 방법으로 ','를 사용해 separation과 함께 출력할 수 있고, '+'으로 str 끼리 concatenate 할 수 있다.
- 값과 값을 구분하는 단위를 변경할 수 있다. default 값은 " " 인데 "sep = 바꾸고 싶은 단위"로 가능하다.
- 출력값 마지막 부분을 변경할 수 있다. default 값으로 개행 문자가 적용되는데 "end = 바꾸고 싶은 값"으로 변경 가능하다.
- 키워드는 맨 뒤에 기입해야한다.

#### 값과 값을 구분하는 단위 변경하기

In [21]:
print("value", 1, 1.1, [1, 2, 'text'], sep = ", ")

value, 1, 1.1, [1, 2, 'text']

print() 에 default로 줄바꿈이 들어가도록 되어있다. 때문에 따로 줄바꿈을 하지 않아도 되는 것.

키워드는 맨 뒤에

#### 연습문제
아래의 코드의 빈 줄을 완성하여 날짜와 시간이 실행 결과와 같이 출력되도록 
구현해보세요.

In [23]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep = "/", end = " ")
print(hour, minute, second, sep = ":", end = "")

2021/02/03 18:33:23

#### 연습문제
사과는 하나에 1000원 귤은 하나에 200원입니다. 사과와 귤을 구매한만큼 총액을 
계산해주는 프로그램을 구현해보세요.

In [29]:
apple, orange = map(int, input("사과와 귤을 몇개 드릴까요?").split(","))
price = apple * 1000 + orange * 200
print("총 가격은 ", price, "원입니다.", sep = "")

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다.

## 흐름제어문

### if문

In [31]:
input_value4 = 4
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

#### 연습문제
사용자로부터 아이디를 입력받습니다. 이때 아이디가 'admin'이면 '최고 관리자, 모든 
권한을 갖습니다.'를 출력하고 프로그램을 종료합니다. 아이디가 'admin'이 아니면 회원 
등급을 정수로 입력받습니다. 만약 회원 레벨이 1~3 사이 값이면 '제한적인 권한을 
갖습니다.'를 출력하고, 그렇지 않으면 '권한이 없습니다.'를 출력하는 프로그램을 
작성해보세요.

In [37]:
id = input("아이디를 입력하세요:")

if id == 'admin': # 대입 연산자가 아닌 비교 연산자가 쓰임에 주목!
    print("최고 관리자, 모든 권한을 갖습니다.")
    exit()
elif not id == 'admin':
    i_grade = int(input("회원 등급을 입력해주세요 : "))
    
    if 0 < i_grade < 4:
        print("제한적인 권한을 갖습니다.")
    else:
            print("권한이 없습니다.")

아이디를 입력하세요: admin

#### 연습문제
사용자로부터 자연수를 입력 받습니다. 그 숫자에서 50을 뺀 값을 출력하세요.
- 단 출력 값의 범위는 0 이상입니다.
- 50을 뺀 결과가 음수가 될 경우 0을 출력해야 합니다.

In [4]:
number1 = int(input("자연수 하나 입력해주세요: "))
num_result = number1 - 50
if num_result > 0:
    print(num_result)
else:
    print(0)

자연수 하나 입력해주세요:  20

0

#### 연습문제
사용자로부터 자연수를 입력 받습니다.
값이 짝수인지 홀수인지 화면에 출력합니다.

In [7]:
number1 = int(input("자연수 하나 입력해주세요: "))
num_result = number1 % 2
if num_result == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

자연수 하나 입력해주세요:  2

짝수입니다.

#### 연습문제
사용자로부터 소프트웨어 설계, 소프트웨어 개발, 데이터베이스 구축, 프로그래밍 언어 
활용, 정보시스템 구축관리 점수를 입력 받습니다. 과목 평균 점수가 60점 이상일 때 
합격입니다. 평균 점수에 따라 ‘합격’, ‘불합격’을 출력하는 프로그램을 만드세요.
- 점수는 0점부터 100점까지만 유효합니다. 이를 벗어난 점수가 입력되면 “잘못된 
점수입니다.”를 출력하고 ‘합격’, ‘불합격’에 대해선 출력않고 프로그램을 종료합니다.
- 과목별 점수는 일단 전부 입력 받습니다.

In [14]:

soft1 = int(input("소프트웨어 설계 점수를 입력하세요 : "))
soft2 = int(input("소프트웨어 개발 점수를 입력하세요 : "))
data = int(input("데이터베이스 구축 점수를 입력하세요 : "))
lang = int(input("프로그래밍 언어 활용 점수를 입력하세요 : "))
sys = int(input("정보시스템 구축관리 점수를 입력하세요 : "))
i = soft1 and soft2 and data and lang and sys
if -1 < i < 101:
    if i > 60:
        print("합격입니다.")
    else:
        print("불합격입니다.")
else:
    print("잘못된 점수입니다.")

소프트웨어 설계 점수를 입력하세요 :  60
소프트웨어 개발 점수를 입력하세요 :  40
데이터베이스 구축 점수를 입력하세요 :  20
프로그래밍 언어 활용 점수를 입력하세요 :  30
정보시스템 구축관리 점수를 입력하세요 :  40

불합격입니다.

#### 연습문제
물의 온도에 따라 현재 상태를 출력하는 프로그램을 만들려고 합니다. 사용자로부터 물의 
온도가 몇인지 입력을 받고 100 이상이면 ‘기체로 예상됩니다.’를 출력합니다. 100보다 
작고 0 이상이면 ‘액체로 예상됩니다.’를 출력합니다. 0 보다 작으면 ‘고체로 예상됩니다.’
를 출력합니다.

In [16]:
temp = int(input("물의 온도를 입력해주세요 : "))
if temp >= 100:
    print("기체로 예상됩니다.")
elif 0 <= temp < 100: # '< 100' 조건이 제외되도 괜찮다.
    print("액체로 예상됩니다.")
elif temp < 0:
    print("고체로 예상됩니다.")

물의 온도를 입력해주세요 :  -5

고체로 예상됩니다.

#### 연습문제
일반 시내 버스 요금을 받는 프로그램을 만들려고 합니다.  
성인(19세 이상)이면 1500원 청소년(12 ~ 18세)이면 1100원 어린이(6~11세)면 800원을 받고 미취학 아동은 무료입니다.   
사용자로부터 나이를 입력 받고 나이에 따른 일반 시내 버스 요금을 
출력하세요.

In [18]:
age = int(input("나이를 입력하세요 : "))
if age < 11:
    print('800원')
elif age < 18:
    print('1100원')
else:
    print('1500원')

나이를 입력하세요 :  5

800원

#### 연습문제
A사는 B사에서 C상품($10/개)을 납품합니다. 발주 수량에 따라 수량할인을 고려하여 납품가가 달라집니다. 1000개 미만은 수량할인이 적용되지 않습니다.  
1000개부터 1500개까지 5%, 1500개 초과 2000개까지 10%를 할인합니다. 2000개 초과부터는 20%를 할인합니다.  
발주 수량을 사용자로부터 입력 받고 총 발주금액을 출력하는 프로그램을 작성해보세요.(소수점은 할인의 일환으로 버립니다.)

In [27]:
send_num = int(input("발주 수량을 입력하세요:"))
if send_num > 2000:
    dc = 20
elif send_num <= 2000:
    dc = 10
elif send_num <= 1500:
    dc = 5
else:
    dc = 0
dc1 = ((100-dc)/100)
price = send_num * 10 * dc1
send_num = str(send_num)
dc = str(dc)
price = str(price)
print(send_num + "개를 주문하셨습니다.\n" + "적용 할인율은" + dc + "입니다.\n" + "총 발주 금액은" + price + "입니다.")

발주 수량을 입력하세요: 2200

2200개를 주문하셨습니다.
적용 할인율은20입니다.
총 발주 금액은17600.0입니다.

#### 연습문제
주민등록번호 뒷자리 7자리 중 맨 앞 번호가 1, 3인 경우는 남자이고 2, 4인 경우는 여자를 의미합니다.  
주민등록번호 뒷자리를 입력 받아 성별을 확인하는 프로그램을 작성하세요.
- 자리수가 7자리가 아니면 ‘자리수를 잘못 입력했습니다.”를 출력합니다.
- 맨 앞 번호가 1, 2, 3, 4가 아니면 ‘잘못된 입력입니다.’를 출력합니다.

In [38]:
brnum = input("주민번호 뒷자리를 입력하세요:")
if len(brnum) != 7:
    print('자리 수를 잘못 입력했습니다.')
else:
    if brnum[0] != '1' and brnum[0] != '2' and brnum[0] != '3' and brnum[0] != '4':
        print("잘못된 입력입니다.")
    elif brnum[0] == '1' or brnum[0] == '3':
        print("남자입니다.")
    else:
        print("여자입니다.")

주민번호 뒷자리를 입력하세요: 1234567

남자입니다.

#### 연습문제
사용자로부터 연도 값을 입력받고 윤년인지 아닌지 결과를 출력하는 프로그램을 작성해보세요.
- 연도가 4로 나누어 떨어지는 경우: 윤년, 그 밖의 해: 평년  
  
예외 규칙
- 100으로 나누어 떨어지되 400으로 나누어 떨어지지 않는 해: 평년

In [44]:
# if, else 한 번씩만 사용해서 코딩해보기
year = int(input("확인할 연도를 입력하세요:"))

if year % 100 == 0 and year % 400 != 0 or year % 4 != 0:
    print("평년")
else:
    print("윤년")

확인할 연도를 입력하세요: 2004

윤년

## 반복문

### for문
파이썬의 for문은 시퀀스 자료형의 항목들을 순서대로 이터레이션합니다(순서별로 요소를   
하나씩 꺼냅니다).  
- 반복되는 부분을 만들 때 활용하면 좋습니다.  

- 혹은 iterable(객체)를 루핑할 때 좋습니다.  
  
- 반복 횟수가 정해져 있을 때 주로 사용합니다.

### for 문과 range() 내장 함수
range() 내장 함수는 연속된 숫자를 만드는데 특화되어 있습니다.  
for문은 반복 실행하는데 특화되어 있습니다.

### range() 함수
range는 연속되는 숫자 요소들을 만들 때 활용하면 좋습니다.  
range() 함수는 슬라이싱과 구조가 비슷합니다. 다만, range()의 경우 함수의 형태로 쓰기   
때문에 소괄호 안에 구분자는 당연히 콤마(,)입니다.  
시작 인덱스는 포함(이상), 끝 인덱스는 불포함(미만)입니다. 시작 인덱스(default = 0)와   
증감크기(default = 1)는 생략 가능합니다.  
range() 함수를 숫자들의 시퀀스로 이터레이트할 때 사용하면 편리합니다.

#### 연습문제
한 문구를 여러 번 띄우는 코드를 작성하라.

In [47]:
for n in range(10):
    print("Hello world") # 이런 걸 루핑이라고 하기도 한다.

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

- range에서 시작과 증감 크기 요소는 생략이 가능하다.

In [48]:
even_numbers = list(range(2, 100, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

- range()가 돌려준 객체는 마치 리스트인 것처럼 동작하지만, 사실 리스트와는 다르다.  
  range 객체는 iterate할 때 원하는 시퀀스 항목들을 순서대로 요소를 돌려주는 객체이지만,   
  메모리에 공간을 할당하여 미리 모든 요소들을 만들어 두는 것이 아니라  
  필요할 때마다 다음 요소를 만들어 반환하기 때문에 공간 효율적이다.

#### 연습문제
Hello world를 100번 출력해주세요. 다만 숫자를 1부터 100까지 함께 출력해주세요. 아래 실행 결과를 참고하세요

In [59]:
for i in range(1, 11):
    print("Hello,world", i)

Hello,world 1
Hello,world 2
Hello,world 3
Hello,world 4
Hello,world 5
Hello,world 6
Hello,world 7
Hello,world 8
Hello,world 9
Hello,world 10

In [65]:
hm = int(input("인사를 몇 번 해드릴까요?"))
for i in range(1, hm + 1):
         print("(_ _)", i)

인사를 몇 번 해드릴까요? 3

(_ _) 1
(_ _) 2
(_ _) 3

In [72]:
print(list(range(1, 10)))
print(list(range(0, 10, 3)))
print(list(range(-1, -71, -30)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-1, -31, -61]

#### 연습문제
아래의 실행 결과처럼 나오도록 for문과 range()를 활용해서 구현해봅시다.
- 숫자와 숫자 사이에 \t를 사용합니다.

![image](https://user-images.githubusercontent.com/105477856/217546749-dab42a9f-f668-4400-a942-927687cde6a7.png)

In [2]:
num = int(input("자연수 하나 입력해주세요: "))
for i in range(num, 0, -1):
    for j in range(i):
        print(i, sep =  end = "")
    print()

SyntaxError: invalid syntax (1573684737.py, line 4)

In [5]:
num = int(input("자연수 하나 입력해주세요: "))
for i in range(num, 0, -1):
    for j in range(i):
        print(i, end = "\t")
    print()

자연수 하나 입력해주세요:  6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

#### 연습문제
1부터 사용자로부터 입력 받은 자연수까지의 홀수의 합을 구합니다.  
1부터 입력 받은 수까지 홀수 전체를 각각 더하는 산식을 표현하고 그 계산식의 결과를 아래 실행결과와 같이 출력되도록 구해보세요.  
![image](https://user-images.githubusercontent.com/105477856/217546906-21f1ffe3-61da-4329-a80c-5138cb6ad86e.png)

#### 풀이

In [10]:
n = int(input(""))
sum_num = 0
for i in range(1, n, 2):
    if i == n - 1:
        print(i, " =", end = "")
    else:
        print(i, " +", end = "")
    sum_num += i
print("", sum_num)

 100

1  +3  +5  +7  +9  +11  +13  +15  +17  +19  +21  +23  +25  +27  +29  +31  +33  +35  +37  +39  +41  +43  +45  +47  +49  +51  +53  +55  +57  +59  +61  +63  +65  +67  +69  +71  +73  +75  +77  +79  +81  +83  +85  +87  +89  +91  +93  +95  +97  +99  = 2500

다른 풀이

In [ ]:
n = int(input(""))
sun = 9
print(1, end = "")
for i in range(3, num + 1, 2):
    sum = sum + i
    print(" +", i, end = "")
print(" =", sum + 1)

#### 연습문제
계승(Factorial)을 계산해보려합니다. 사용자로부터 정수를 하나 입력받습니다.  
그리고 입력받은 숫자까지의 계승을 for문을 활용하여 구한 뒤 출력해주세요.  
- 계승이란 1부터 n까지의 자연수를 모두 곱하는 것을 의미합니다.  
→ n! = 1 × 2 × 3 × …… × (n-1) × n

In [91]:
n = int(input("계승을 구할 숫자를 입력하세요."))
x = 1
for i in range(1, n + 1, 1):
    x = x * i
print(x)

계승을 구할 숫자를 입력하세요. 7

5040

### 시퀀스 객체로 뒤집어서 반복하기
reversed() 함수를 통해 역순으로 변경 가능하다. 리스트 메서드에 있는 reverse()와 다른 함수이다.
- reversed(시퀀스) 함수는 반환값을 주지만 해당 시퀀스를 변경하지 않는다.
- 리스트.reversed()함수는 리스트 요소 순서를 뒤집어주며 반환값이 없습니다(None).

![](images/reversed.PNG)

슬라이싱으로도 뒤집는게 가능하다. 변수[::-1]

#### 연습 문제
제시된 리스트의 값을 for문을 활용하여 10배씩 증가시킨 후 아래의 실행 결과와 같이 
출력해보세요.  
x = [10, -42, 25, 103, 21, 77, 24]

In [11]:
x = [10, -42, 25, 103, 21, 77, 24]
for i in [10, -42, 25, 103, 21, 77, 24]:
    print(i * 10, end = " ")

100 -420 250 1030 210 770 240

#### 연습 문제
사용자로부터 자연수를 입력받아옵니다. 그 숫자의 구구단을 출력하는 프로그램을 
구현해보세요.  
아래의 실행 결과를 참고하세요.

In [97]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
y = int(input())
for i in x:
    print(y, "*", i, "=", y * i)

 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### 연습 문제
사용자로부터 자연수를 입력받아옵니다.  
1부터 입력된 자연수까지의 합을 구하는 
프로그램을 구현해보세요.

In [101]:
y = int(input())
x = 0
for i in range(1, y + 1):
    x += i
print(x)

 100

5050