In [1]:
# 주석 사용하기
x = 1 # 여기서 =(등호) 기호는 수학의 같다는 의미와는 다르다.
      # ... 우측 변의 리터럴을 좌측 변의 변수에 대입한다는 의미다.
text = "# 이것은 주석이 아닙니다. 따옴표 안은 문자열 리터럴입니다."

In [2]:
print("Hello, world!\nHello, world!\nPython Programming")

Hello, world!
Hello, world!
Python Programming

In [3]:
print("Hello, world!")
print("Hello, world!")
print("Python Programming")

Hello, world!
Hello, world!
Python Programming

In [4]:
print(2+2) # 답이 정수

4

In [5]:
print(2-2) # 위와 동일

0

In [6]:
print(2*2) # 위와 동일

4

In [7]:
print(2/2) # 나눗셈만 항상 실수, 위의 경우도 연산에 쓰이는 변수가 정수가 아닌 실수가 들어가면 답이 실수로 나온다.

1.0

In [8]:
13+(22-3)*4

89

In [9]:
13+((22-3)*4)/5

28.2

In [10]:
7//2 # 몫 구하기

3

In [11]:
3%2 # 나머지 구하기

1

In [12]:
2**7 # 거듭제곱

128

In [13]:
3 ** (1/2) # 제곱근

1.7320508075688772

In [14]:
# 정수 int
# 실수 float
# 복소수 complex: 실수 + 허수j 로 표현
# - 실수 접근 -> 복소수.real
# ...

In [15]:
# int(정수로 변환할 것) : 정수 타입으로 변환하기

In [16]:
# float(실수로 변환할 것) : 실수 타입으로 변환하기

In [17]:
print(int(0.2467 * 12 + 4.159))

7

In [18]:
print("가장 시끄러운 층은", "=", int(0.2467 * 12 + 4.159), "층")

가장 시끄러운 층은 = 7 층

In [19]:
print("냉장고 가격은", 53000 * 24, "원 입니다.")

냉장고 가격은 1272000 원 입니다.

In [20]:
tax = 1.1
people = 250
print("총 지불 해야할 금액은", ((people * 20000 *3) * tax), "원 입니다.")

총 지불 해야할 금액은 16500000.000000002 원 입니다.

In [21]:
# 지수 표기(Exponenetial Notation) 방법 사용하기
1.2345e10

12345000000.0

In [22]:
1.2345e-4 # 마이너스 지수로는 -4보다 작은 값이 들어갈 경우 e-5 와 같이 그대로 출력됨

0.00012345

## 2진수 표기

In [23]:
0b10001

17

In [24]:
0b10110

22

In [25]:
bin(17)

'0b10001'

In [26]:
# bin(2ㅁㄴㅇ2)

## 8진수 표기

In [27]:
0o21

17

In [28]:
0o26

22

In [29]:
oct(17)

'0o21'

In [30]:
oct(22)

'0o26'

## 16진수 표기

In [31]:
0x1f

31

In [32]:
0x16

22

In [33]:
hex(31)

'0x1f'

In [34]:
hex(22)

'0x16'

In [35]:
AP = 380
print(AP * 0.6 +225)

453.0

In [36]:
a = 10 # a 변수 선언 후 숫자 리터럴 10 값을 할당
a = a + 10 # a 변수 값에 20을 더한 결과를 다시 a에 할당
print(a)

20

In [37]:
del a # 변수 a 를 삭제
print(a) # 삭제된 a 변수이므로 정의되어있지 않다는 에러 발생

NameError: name 'a' is not defined

In [38]:
a = 10

# 변수 a에 20 값을 더하고 할당하지 않았을 때
a + 20
print(a) # a 값아 그대로 유지된다.

a += 10 # a = a + 10 과 같다.
print(a) # 파이썬에선 증감연산자가 없어 이런 방식으로 접근한다.

10
20

In [39]:
a = None 
print(a) # 파이썬에서 빈 값은 None으로, 보통 다른 언어에서의 null과 같다.

None

In [40]:
# 상수
# -> 변수와 상반되며, 변하지 않는 값, 다만

In [41]:
# 문자열 리터럴은 작은 따옴표('...'), 큰 따옴표("...")를 사용해 표현 가능함. 두가지 모두 같은 결과를 줌.
text = '이것은 문자열입니다.'
text2 = "이것은 문자열입니다."

print(text)
print(type(text))

print(text2)
print(type(text2))

이것은 문자열입니다.
<class 'str'>
이것은 문자열입니다.
<class 'str'>

In [42]:
text3 = 'don\'t do that'
text4 = "don't do that" # 큰 따옴표로 문자열 리터럴을 열 땐 닫는 기호로 큰 따옴표를 찾으므로 작은 따옴표가 중간에 개입되어도 괜찮다.

In [43]:
print("\"안녕?\"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.")

"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다.

In [44]:
# 문자열 리터럴에 줄바꿈을 하려면 개행 문자인 \n을 사용하면 된다.
# 경우에 따라 \n을 그대로 출력하고 싶은 경우가 있는데 raw string(r을 맨 앞에 붙여 raw string으로 문자열 리터럴을 만든다.)
# 으로 표현하거나 \를 \앞에 하나 더 붙이면 된다.

In [45]:
# 삼중 따옴표를 사용하면 여러 줄로 확장하여 문자열 리터럴을 만들 수 있다. 이때는 개행 문자를 사용하지 않는다.
s3 = """
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.
"""
print(s3) # Enter로 바꾼 줄 바꿈 그대로 출력된다.

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [46]:
# 삼중 따옴표 사용 시 Enter키로 줄이 바뀌는걸 막고 싶다면 \를 사용한다.
s4 = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.
"""
print(s4)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [47]:
s4 = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""
print(s4)

안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [48]:
s5 = """\
안녕하세요.
나는 파이썬을 공부하고 있습니다.
반갑습니다.
\"""
print(s4) # 이렇게 하면

SyntaxError: EOF while scanning triple-quoted string literal (2112838667.py, line 6)

In [49]:
s6 = """\
"안녕하세요."
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""
print(s6) # 이렇게 하면

"안녕하세요."
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [50]:
s7 = "너무 "
print(s7 * 7 + "파이썬 공부가 즐겁습니다.")
# *를 사용하면 문자열의 반복을 쉽게 할 수 있다. 또 +를 사용하면 문자열과 문자열을 이을 수 있다.(concatenation)

너무 너무 너무 너무 너무 너무 너무 파이썬 공부가 즐겁습니다.

In [51]:
# 시퀀스 자료형 : 순서에 따라 연속적으로 값들을 갖는 자료형.
# 모든 시퀀스 형은 인덱싱과 슬라이싱이 가능한데, 인덱싱과 슬라이싱을 잘 알아둬야 한다.

In [52]:
word = 'python'
print(word[0])
print(word[5])
print(word[-6])
print(word[-1])

p
n
p
n

In [53]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7])

꺾

In [54]:
# 슬라이싱은 범위에 해당하는 요소들을 가져오는 방법.
print(sentence[0:5]) # [이상:미만] 으로 슬라이싱이 적용된다.

중요한 것

In [55]:
print(sentence[0:5:2]) # [시작 숫자(이상):끝 숫자(미만):증감 크기] , 모두 생략가능하며 그 경우 default 값으로 '처음부터 끝까지 1씩 증가'로 적용된다.

중한것

In [56]:
# 슬라이싱은 인덱스 범위를 벗어나도 유연하게 처리됨.
print(sentence[42:])
print(sentence[2:42])

한 것은 꺾이지 않는 마음

In [57]:
print(sentence[7:20])
print(sentence[7:])

꺾이지 않는 마음
꺾이지 않는 마음

In [58]:
print(sentence[-14:-17:-1])

한요중

In [59]:
print(sentence[2::-1])

한요중

In [60]:
sentence[0] = "한" # string은 immutable 하므로 불가능하다.

TypeError: 'str' object does not support item assignment

In [61]:
sentence[0:2] = "대단한" # string은 immutable 하므로 불가능하다. slicing으로 접근해도 같다.

TypeError: 'str' object does not support item assignment

In [62]:
# 변경하고 싶다면
sentence = "대단한" + sentence[3:]
print(sentence)
# 새로운 문자열 리터럴을 만들어서 변수의 값에 다시 할당하면 가능하다.

대단한 것은 꺾이지 않는 마음

In [63]:
s7 = '재밌어요' * 10
print(s7)
print(len(s7))

재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요
40

In [64]:
# 리스트 : 파이썬 언어에서 가장 융통성 있는 자료형 중 하나
# 서로 다른 형의 항목들을 포함 가능, 가변(mutable)의 특성을 갖기에 수정도 용이
# 파이썬의 리스트는 배열과 차이점이 있음

In [65]:
# 시퀀스 자료형은 모두 인덱싱과 슬라이싱이 가능

In [66]:
cubes = [1, 8, 27, 65, 125]
cubes[3] = 4 ** 3
print(cubes)

[1, 8, 27, 64, 125]

In [67]:
letters = ['a', 'b', 'c', 'd', 'e']
letters[2:5] = ['B', 'C', 'D']
print(letters)

['a', 'b', 'B', 'C', 'D']

In [68]:
# 리스트에 특정 요소가 있는지 궁금할 때
numbers = [1, 2, 3, 4, 5, 6, 7]
print(5 in numbers)
print(10 in numbers)

True
False

In [69]:
2 ** 7

128